# python
.venv/
__pycache__/
*.pyc

# env
.env

# logs
*.log

# database
*.db

# build
*.tar.gz

# ssh / keys
profeta_oracle_nopass

# vscode
.vscode/

# OS
.DS_Store
Thumbs.db

# temp
diff.txt

# node / ferramentas locais
node_modules/
.claude/
.rtk/
CLAUDE.md
package-lock.json
package.json